<h1>NAME: <%= place.name %></h1>
<h2>ADDRESS: <%= place.address %></h2>
<p>LAT: <%= place.lat %></p>
<p>LNG: <%= place.lng %></p>

<div id="map"></div>

<script>
    var marker = <%- JSON.stringify(place) %>;

    var initMap = function () {

        var map = new google.maps.Map(document.getElementById('map'), {
            center: { lat: <%-place.lat%>, lng: <%-place.lng%> },
            zoom: 20
        });

        // for each marker passed through, add it to the map with a popup
        console.log(marker);
        var position = new google.maps.LatLng(marker.lat, marker.lng);
        var googleMarker = new google.maps.Marker({
            position: position,
            title: marker.name,
            map: map
        });
        // Bind a popup to the marker
        googleMarker.addListener('click', function () {
            var infoWindow = new google.maps.InfoWindow({
                content: '<h3>' + marker.name + '</h3>'
            });
            infoWindow.open(map, googleMarker);
        });
    };

</script>